.task {
  background: #08c0e0;
  width: 55%;
  min-height: 10vh;
  margin: 60px auto;
  border-radius: 5px;
  padding: 30px;
  box-shadow: 0px 6px 17px #9c9898;
  display: flex;
  color: rgb(255, 255, 255);
  align-items: center;
}
.task p {
    font-size: 23px;
    font-weight: bold;
}
.content {
    width: 100%;
    
}
.btn2 {
border-radius: 100%;
width: 30px;
height: 30px;
font-size: 1.6rem;
background: #da0a0a;
display: flex;
border: none;
justify-content:center;
align-items: center;
color:white;
}
.btn2:hover {
    background: #750505;
}